.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blockHeader {
  margin: 10px 50px;
  font-size: 24pt;
  font-style: italic;
  font-weight: 600;
  opacity: 30%;
}