.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blockHeader {
  padding: 10px;
  font-size: 24pt;
  font-weight: 700;
  opacity: 30%;
}