.dialog_item {
  border-radius: 5px;
  margin-right: 2px;
  overflow: hidden;
  color: black;
}

.dialog_item:hover {
  background-color: rgb(231, 231, 231);
}

.dialog_item.active > a {
  color: rgb(255, 255, 255) !important;
}

.dialog_item > a > div {
  height: 50px;
}

.dialog_item_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.dialog_item_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
}

.subtitle_message {
  max-width: 252px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.active {
  background-color: #3e7bd6 !important;
  color: rgb(255, 255, 255) !important;
}

.user_avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dialog_title_area,
.dialog_subtitle_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog_title_area {
  padding-top: 4px;
}

.dialog_subtitle_area {
  padding-bottom: 3px;
}

.dialog_title {
  font-weight: bold;
}

.dialog_time {
  order: 2;
  margin-left: auto;
  font-size: 11px;
  padding-top: 4px;
}
