.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageNumber {
  margin: 0 10px 0 0;
  padding: 4px;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
  background-color: rgba(240, 240, 240, 1);
}

.pageNumber:hover {
  background-color: rgba(225, 225, 225, 1);
  cursor: pointer;
}

.pageNumber.selectedPage {
  border-color: rgba(35, 99, 69, 1);
  background-color: rgba(35, 99, 69, 1);
  color: rgba(255, 255, 255, 1);
}

.paginator > button {
  padding: 0 8px;
  height: 35px;
}

.prev,
.next {
  padding: 5px 12px !important;
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid grey;
  border-radius: 3px;
}

.prev {
  margin: 0 20px 0 0;
}

.next {
  margin: 0 0 0 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(225, 225, 225, 1);
  cursor: pointer;
}