.nav {
  grid-area: n;
  background-color: rgb(35, 99, 69);
}

.item {
  padding: 5px 0 0 20px;
}

.item:first-child {
  padding-top: 20px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a.active {
  color: gold;
}

.item:last-child {
  margin: 30px 0 20px 0;
}