.description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 0 0 50px;
}

.imageArea {
  margin: 0;
  padding: 0;
  width: 250px;
  height: auto;
}

.profileDataArea {
  margin: 0 0 0 25px;
  flex-grow: 1;
  width: 400px;
}

.mainPhoto {
  width: 250px;
  height: 250px;
  border-radius: 3px;
  box-shadow: 0px 3px 6px 1px rgba(34, 60, 80, 0.2);
  margin-bottom: 15px;
}

input[type='file'] {
  display: none;
}

.upload_image {
  height: 30px;
  padding: 6px 12px;
  border: 1px solid rgba(33, 94, 65, 1);
  border-radius: 3px;
  cursor: pointer;
}

.upload_image:hover {
  background-color: rgba(33, 94, 65, 1);
  color: rgba(255, 255, 255, 1);
}

.select_photo {
  position: absolute;
  z-index: 2;
}

.fullName, .fullNameForm,
.status,
.lookingForAJob, .lookingForAJobForm,
.aboutMe, .aboutMeForm,
.skills, .skillsForm,
.contacts, .contactsForm {
  padding: 0 0 10px 0;
}

.fullNameForm,
.aboutMeForm,
.skillsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fullNameForm > input,
.lookingForAJobForm > label > input,
.aboutMeForm > textarea,
.skillsForm > textarea {
  margin-bottom: 15px;
}

.fullName {
  margin: -8px 0 0 0;
  font-size: 24px;
  font-weight: 700;
}

.status > span {
  font-style: italic;
}

.status > input {
  height: 25px;
}

.status > span:hover {
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  width: fit-content;
  margin-left: 15px;
  background-color: rgba(236, 236, 236, 1);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: -5px;
  padding: 5px 15px;
  box-shadow: 0px 3px 6px 1px rgba(34, 60, 80, 0.1);
}

.tooltip::before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background-color: rgba(236, 236, 236, 1);
  transform: rotate(45deg);
  left: 0%;
  top: 40%;
}

.status > span:hover > .tooltip {
  visibility: visible;
}

.form_input,
.form_textarea,
.status > input {
  width: 100%;
  max-width: 293px;
  margin-top: 5px;
  padding-top: 2px;
  padding-left: 5px;
  border: none;
  outline: none;
}

.form_input {
  height: 20px;
}

.fullNameForm > .form_input {
  height: 30px;
}

.form_textarea {
  height: 65px;
  max-width: 280px;
  padding: 5px 10px;
}

.form_input:hover,
.form_textarea:hover,
.status > input {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: all 0.3s ease-in-out;
}

.contactsForm {
  max-width: 300px;
  overflow-x: hidden;
}

.contactsForm > table {
  width: 300px;
  margin: 0;
  padding: 0;
  table-layout: auto;
  border-spacing: 0;
}

.facebook, .website, .vk, .twitter, .instagram,
.youtube, .github, .mainLink {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

.contacts > a:first-child > span {
  margin-left: 0;
}

.facebook {
  content: url(https://img.icons8.com/fluency/48/000000/facebook.png);
}

.website {
  content: url(https://img.icons8.com/color/48/000000/domain--v1.png);
}

.vk {
  content: url(https://img.icons8.com/color/48/000000/vk-com.png);
}

.twitter {
  content: url(https://img.icons8.com/color/48/000000/twitter-squared.png);
}

.instagram {
  content: url(https://img.icons8.com/color/48/000000/instagram.png);
}

.youtube {
  content: url(https://img.icons8.com/color/48/000000/youtube-squared.png);
}

.github {
  content: url(https://img.icons8.com/color/48/000000/github--v1.png);
}

.mainLink {
  content: url(https://img.icons8.com/color/48/000000/copy-link.png);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button > button {
  margin-top: 8px;
  height: 35px;
  width: 90px;
  outline: none;
  border: 1px solid rgba(33, 94, 65, 1);
  border-radius: 3px;
}

.button > button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 94, 65, 1);
  transition: all 0.3s ease-in-out;
}

.error {
  background: rgba(255, 0, 0, 0.8);
  padding: 3px;
  color: rgba(255, 255, 255, 0.8);
}