.app-wrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 70px 12fr; 
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
  max-height: 100vh;
  overflow: hidden;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #e0e0e0;
  overflow: auto;
}